---
---

<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml/" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <link rel="canonical" href="{{ '/' | absolute_url }}" />

    <title>Basin Project</title>
    <meta name="description" content="A modern server-side modding API" />
    <meta name="keywords" content="Basin,Minecraft,Server,API,plugin" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ '/favicon.ico' | relative_url }}" />
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/image/social/logo-icon.png' | relative_url }}" />

    <meta property="og:title" content="Basin Modding API" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ '/assets/image/social/logo-solid.png' | absolute_url }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@BasinMC" />

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "{{ '/' | absolute_url }}",
      "name": "Basin Project",
      "logo": "{{ '/assets/image/social/logo.png' | absolute_url }}",
      "sameAs": [
        "https://twitter.com/BasinMC",
        "https://github.com/BasinMC"
      ]
    }
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/style/basin.css" />
  </head>
  <body>
    <header id="header-container" class="ui inverted vertical very padded segment">
      <section id="header"  class="ui container">
        <header class="ui basic container segment">
          <div id="main-menu" class="ui large inverted secondary menu">
            <a id="logo" href="/" class="link item">
              <img class="ui small desktop image" src="assets/image/logo-monochrome-light.svg" />
              <img class="ui tiny hidden mobile image" src="assets/image/icon-monochrome-light.svg" />
            </a>

            <div class="right menu">
              <a href="http://webchat.esper.net/?channels=Basin" class="link item">
                <i class="chat icon"></i>
                <span>WebIRC</span>
              </a>
              <a href="https://twitter.com/BasinMC" class="link item">
                <i class="twitter icon"></i>
                <span>Twitter</span>
              </a>
              <a href="https://github.com/BasinMC" class="link item">
                <i class="github icon"></i>
                <span>GitHub</span>
              </a>
            </div>
          </div>
        </header>
        <main class="ui basic container segment">
          <article id="jumbotron">
            <h3 class="ui inverted header">A modern server-side modding API</h3>
            <h4 class="ui inverted header">Coming Soon</h4>
            <a href="https://github.com/BasinMC" class="ui big inverted button">
              <i class="github icon"></i>
              Get Involved
            </a>
          </article>
        </main>
        <footer></footer>
      </section>
    </header>
    <main class="ui vertical very padded segment content-container">
      <section class="ui content container">
        <h2 class="ui center aligned header">Our Projects</h2>

        <div class="ui two stackable cards">
          {% for repository in site.github.public_repositories %}
            {% unless repository.archived or repository.name == "basinmc.github.io"  %}
              <a class="ui card" href="{{ repository.html_url }}">
                <div class="content">
                  {% capture icon_path %}/assets/icon/{{ repository.name }}.png{% endcapture %}
                  {% assign custom_icon = false %}
                  {% for static_file in site.static_files %}
                    {% if static_file.path == icon_path %}
                      {% assign custom_icon = true %}
                    {% endif %}
                  {% endfor %}
                  <img class="ui left floated mini image" src="{% if custom_icon %}{{ icon_path | relative_url }}{% else %}{{ site.defaultIconPath | relative_url }}{% endif %}" />
                  <div class="header">
                    <div class="content">
                      {{ repository.name }}
                    </div>
                  </div>
                  <div class="meta">{{ repository.full_name }}</div>
                </div>
                <div class="content">
                  <div class="description">
                    {% if repository.description %}
                      {{ repository.description }}
                    {% else %}
                      No description given yet
                    {% endif %}
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui horizontal list">
                    <div class="item">
                      <i class="eye icon"></i>
                      {{ repository.watchers_count }}
                    </div>
                    <div class="item">
                      <i class="star icon"></i>
                      {{ repository.stargazers_count }}
                    </div>
                  </div>
                </div>
              </a>
            {% endunless %}
          {% endfor %}
        </div>
      </section>
    </main>
    <section class="ui vertical very padded inverted segment highlight-container">
      <section class="ui highlight container">
        <h2 class="ui inverted header">Help document Basin</h2>
        <p>This entire site is open source and thus open to contributions</p>
        <a class="ui big inverted button" href="https://github.com/BasinMC/basinmc.github.io">
          <i class="heart icon"></i>
          Improve it
        </a>
      </section>
    </section>
    <main class="ui vertical very padded segment content-container">
      <section class="ui content container">
        <h2 class="ui center aligned header">Our Team</h2>

        <div class="ui four centered stackable members-list cards">
          {% for member in site.github.organization_members %}
            <a class="ui card" href="{{ member.html_url }}">
              <div class="image">
                <img src="{{ member.avatar_url }}" />
              </div>
              <div class="content">
                {% assign real_name = site.data.members[member.login] %}
                {% if real_name %}
                  <div class="header">{{ real_name }}</div>
                  <div class="meta">@{{ member.login }}</div>
                {% else %}
                  <div class="header">{{ member.login }}</div>
                {% endif %}
              </div>
            </a>
          {% endfor %}
        </div>
      </section>
    </main>
    <footer id="footer-container" class="ui inverted vertical very padded segment">
      <section id="footer" class="ui container">
        <div id="copyright">
          <p>git-{{ site.github.build_revision | slice: 0, 8 }}</p>
          <p>
            The contents of this site are licensed under the <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a><br />
            The Wave (Basin Logo) is property of <a href="https://www.torchmind.com">Torchmind</a> - All rights reserved<br />
          </p>
          <p>
            Copyright &copy; 2016-2018 Basin Project
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
