---
---

$brand-color: #2ecc8b;
$brand-color-secondary: #0f3443;

body {
  overflow-y: scroll;
}

#header-container {
  height: 100vh;

  background: $brand-color-secondary;
  background-image: url(../image/background.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#jumbotron {
  text-align: center;

  h3,
  h4 {
    font-weight: 300;
    margin: 0;
  }

  h3 {
    font-size: 2.5em;
    margin: 0 0 5px;
  }

  h4 {
    font-size: 1.5em;
  }

  a.button {
    margin-top: 30px;
  }
}

.highlight-container {
  background-color: $brand-color-secondary !important;
  text-align: center;

  a.button {
    margin-top: 10px;
  }
}

#footer-container {
  background-color: $brand-color-secondary;
}

#footer {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

::selection {
  background: $brand-color;
  color: #ffffff;
}

.ui.cards.members-list .card {
  max-width: 180px
}

/**
 * Mobile Resolution Overrides
 */
@media (max-width: 500px) {
  #main-menu {
    justify-content: center;

    .menu.right {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  #logo {
    img.desktop {
      display: none;
    }

    img.mobile {
      display: block;
    }
  }

  #main-menu .item > span {
    display: none;
  }

  .ui.cards.members-list {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-height: 300px) {
  #header {
    justify-content: space-around;

    > main,
    > footer {
      display: none;
    }
  }
}

@media (max-height: 440px) {
  #header > header,
  #header > main {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
